.bio {
	display: flex;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.bio h3 {
	font-size: 3rem;
}

.bio p {
	margin-top: 1rem;
}

footer {
	position: relative;
	top: 5rem;
}

/*Desktop*/
@media only screen and (min-device-width:641px) {

.bioText {
	width: 55%;
	padding: 1rem;
	margin-top: 1rem;
}

.bioImages {
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 1rem;
}

.bio img {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5rem;
}

}

/* Mobile */
@media only screen and (max-device-width: 640px) {



}