h2 {
	margin-left: 1rem;
}

footer {
	position: relative;
	top: 6rem;
}

/*Desktop*/
@media only screen and (min-device-width:641px) {

main {
	position: relative;
	top: 5rem;
}

iframe {
	margin-left: 4rem;
	width: 900px;
	height: 500px;
}

}

/* Mobile */
@media only screen and (max-device-width: 640px) {

main {
	justify-items: center;
	position: relative;
	top: 2rem;
}

main h2 {
	font-size: 1.5rem;
}

iframe {
	margin: 1rem;
	width: 90vw;
	height: 60vh;
}

}