main {
	position: relative;
	top: 5rem;
}

h2 {
	margin-left: 1rem;
}

footer {
	position: relative;
	top: 6rem;
}

/*Desktop*/
@media only screen and (min-device-width:641px) {

iframe {
	margin-left: 4rem;
}

}

/* Mobile */
@media only screen and (max-device-width: 640px) {



}