* {
	margin: 0;
	padding: 0;
}

html {
	font-family: ;
	font-size: 16px;
	background: ;
	color: ;
	scroll-behavior: smooth;
}

a:hover {
	color: seashell;
	transition: color 0.5s ;
}

/* Header */
header {
	display: flex;
	width: 100%;
	align-items: center;
	background-color: grey;
	z-index: 10;
}

header a {
	text-decoration: none;
}

nav ul {
	display: flex;
}

nav li {
	list-style-type: none;
	margin: 0.5rem;
}

nav a {
	text-decoration: none;

}

/* Footer */
footer {
	background: grey;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

/*Desktop*/
@media only screen and (min-device-width:641px) {

main {
	position: relative;
	top: 5rem;
}

header.mobile {
	display: none;
}

header.desktop {
	display: flex;
	height: 3rem;
	flex-direction: row;
	position: fixed;
	height: 5rem;
}

#title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.desktop nav {
	position: absolute;
	right: 2rem;

}

}

/* Mobile */
@media only screen and (max-device-width: 640px) {

header.desktop {
	display: none;
}

}